<web-app>

   <!-- General description of your Web application -->
   <display-name>
      For project 4
   </display-name>

   <description>
      The project for cnt 4714
   </description>

   <!-- Servlet definitions and mappings  -->

      <servlet>
         <servlet-name>alphaOne</servlet-name>
         <description> A simple servlet that handles an HTTP get request. </description>
         <servlet-class> WelcomeServlet  </servlet-class>
      </servlet>

               <servlet-mapping>
                  <servlet-name>alphaOne</servlet-name>
                  <url-pattern>/second-try/welcome1</url-pattern>
               </servlet-mapping>
</web-app>